@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
  

}


div.box {
	display: block;

	height: 140px;
	width: 140px;

	float: left;

	border: 1px solid #222;
	font-size: 1.1em;
	text-align: center;
	background: #e1f6ff;
	line-height: 26px;
	font-weight: normal;


}

	div.box i.icon-building, 
	div.box i.icon-home {
		float: left;
		margin-left: 17px;
	}
	
	div.box i.icon-user, 
	div.box i.icon-group {
		float: right;
		margin-right: 17px;
	}


section {
	display: block;
	overflow: auto;
	  	max-width: 510px;
	  	
  	margin-left: auto; 
  	margin-right: auto; 
}

footer {
  	max-width: 510px;
  	
  	margin-left: auto; 
  	margin-right: auto; 
}


a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}


img {

}


@media print, screen and (max-width: 960px) {
  

}

@media print, screen and (max-width: 720px) {

}

@media (max-device-width:283px) {
	div.box {
		margin: 0px auto 28px auto;
	}
}

@media (min-device-width:283px) {
	div.box {
		margin: 0px 14px 28px 14px;
	}
}


@media print {

}
